## Make and Index Data in Python 
Creating vectors and a pandas DataFrame, some low-key indexing

In [1]:
import numpy as np
import pandas as pd

In [6]:
teddy = [1, 2, 8]
type(teddy)

khora = [10, 20, 1000]
type(khora)

teddy + khora

[1, 2, 8, 10, 20, 1000]

In [9]:
teddy_vec = np.array(teddy)
type(teddy_vec)

teddy_vec

array([1, 2, 8])

In [12]:
teddy_vec[1]

2

In [13]:
teddy

[1, 5000, 8]

In [14]:
apples = ("red", "green", "yellow")

In [15]:
apples[2] = "orange"

TypeError: 'tuple' object does not support item assignment

In [19]:
waffle = [2, "a burrito", [0, 1, 15], False]

In [20]:
waffle

[2, 'a burrito', [0, 1, 15], False]

In [21]:
waffle[2
      ]

[0, 1, 15]

In [22]:
type(waffle[0])

int

In [23]:
waffle[0] = "It's Tuesday"

In [24]:
waffle

["It's Tuesday", 'a burrito', [0, 1, 15], False]

In [33]:
sharks = {'name': ["Hammer", "Tiger", "Bull"], 
          'location': ["Hammer Site", "Tiger Beach", "Bimini Bay"], 
          'number': [52, 48, 62]}

In [34]:
sharks

{'name': ['Hammer', 'Tiger', 'Bull'],
 'location': ['Hammer Site', 'Tiger Beach', 'Bimini Bay'],
 'number': [52, 48, 62]}

In [35]:
sharks_df = pd.DataFrame(sharks)

In [36]:
sharks_df

     name     location  number
0  Hammer  Hammer Site      52
1   Tiger  Tiger Beach      48
2    Bull   Bimini Bay      62

In [38]:
sharks_noname = [["Hammer", "Tiger", "Bull"], 
                 ["Hammer Site", "Tiger Beach", "Bimini Bay"], 
                 [52, 48, 62]]

In [39]:
sharks_noname

[['Hammer', 'Tiger', 'Bull'],
 ['Hammer Site', 'Tiger Beach', 'Bimini Bay'],
 [52, 48, 62]]

In [40]:
sharks_nn_df = pd.DataFrame(sharks_noname)

In [41]:
sharks_nn_df

             0            1           2
0       Hammer        Tiger        Bull
1  Hammer Site  Tiger Beach  Bimini Bay
2           52           48          62